In [1]:
import pandas as pd
from random import randint as rng
from random import seed 
seed(42)

data = dict(AI=25, Net=30, App=30, Java=27)

series = pd.Series(data=data)

print(data, "\n", series)
print(f"series[0]: {series[0]}")
print(f"series[0]: {series[-1]}")

# Pandas förändras snabbt så du får hålla
# koll på förändringar i functionalitet 
# i det här fallet gillar inte pandas att 
# vi använder index formated direkt utan
# vill att vi går igenom keys.
# Du kan även anäda series.ilock men den
# är lite mer avancerad för den retunerar inte 
# ett vanligt listobjekt.
print(f"series[0]: {series.keys()[0]}")
print(f"series[0]: {series.keys()[-1]}")

{'AI': 25, 'Net': 30, 'App': 30, 'Java': 27}
 AI      25
Net     30
App     30
Java    27
dtype: int64
series[0]: 25
series[0]: 27
series[0]: AI
series[0]: Java

C:\Users\adamt\AppData\Local\Temp\ipykernel_16200\4165635816.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[0]}")
C:\Users\adamt\AppData\Local\Temp\ipykernel_16200\4165635816.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"series[0]: {series[-1]}")

In [2]:
dice_series = pd.Series([rng(1,6) for _ in range(6)])

print(f"Min value {dice_series.min()}")
print(f"Max value {dice_series.max()}")
print(f"Mean value {dice_series.mean()}")
print(f"Median value {dice_series.median()}")
print(f"Standard dviation value {dice_series.std()}")

Min value 1
Max value 6
Mean value 3.1666666666666665
Median value 2.5
Standard dviation value 2.3166067138525404

In [3]:
df = pd.DataFrame(series, columns=["Num students"])
print( df ) 
print()
print( df.T )

      Num students
AI              25
Net             30
App             30
Java            27

              AI  Net  App  Java
Num students  25   30   30    27

In [4]:
# Notera, lika många element i båda series
students = pd.Series(data = dict(AI=25, Net=30, App=30, Java=27))
language = pd.Series(dict(AI="Python", Net="C#", App="Kotlin", Java="Java"))
df_rpgorams = pd.DataFrame({"Students": students, "Languages": language})

# I vanliga falla har raden inget värde men i jupyter notebook så returnera
# den sissta raden, detta är en oldschool konvention som äldre programspårk
# använder sig av, de har inga returvädrden utan sissta raden är returen
df_rpgorams

      Students Languages
AI          25    Python
Net         30        C#
App         30    Kotlin
Java        27      Java

In [17]:
import numpy as np
# Använda numpy arrayer i pandas
# Tänkpå att numpy och pandas använder
# hakparanterser på olika sätt så 
# du behöver lära dig båda
# 
# Ruby hade detta problemt då man 
# kan definera om hela programet 
# så varje program skrivet i ruby 
# va som ett helt nytt programspråk
# och python är lite påväg åt samma 
# håll. 

df_programs = pd.DataFrame({
    "Students": np.array((25, 30, 30, 27 )),
    "Language": np.array(("Python", "C#", "Kotlin", "Java"))},
    index = ["AI", ".NET", "APP", "Java"]
)
print( df_programs )
print( df_programs.index )
print( type(df_programs["Students"]) )
print( df_programs["Students"])

df_programs[["Language", "Students"]]
print(df_programs.Languages)
print(df_programs["Language"][".NET"])
print(df_programs.loc["Java"])
print(df_programs.loc[["Java","APP"]])
print(df_programs.iloc[1:3])
#print(df_programs.loc[df_programs["students"] > 28])

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java
Index(['AI', '.NET', 'APP', 'Java'], dtype='object')
<class 'pandas.core.series.Series'>
AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int32

AttributeError: 'DataFrame' object has no attribute 'Languages'

In [31]:
# df = df[conditions]
# Där conditions är ett boolskt uttruct

df_programs["Students"] > 25

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

In [33]:
# Samma sak som det vi skrev med lock
# Samma som ovan men istället för att 
# skriva ut sant eller fanskt så returera
# den en lista med bara det som är sant

df_over_25 = df_programs[df_programs["Students"] > 25]
df_over_25

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [6]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
# xlsx är ett specielt microsoft format
# som inehåller en massa metadata så 
# du behvöer oftast ha ett MS program 
# för att kunna läsa xlsx filer
df = pd.read_excel("../Data/calories.xlsx")
df.head()

df["FoodCategory"].unique()
df["per100grams"].unique()

array(['100g', '100ml'], dtype=object)

In [11]:
df = df.rename(dict(Cals_per100grams="Calories", per100grams="percent", KJ_per100grams="kj"), axis="columns")
df.head()

  FoodCategory             FoodItem percent  Calories      kj
0  CannedFruit           Applesauce    100g        62  260 kJ
1  CannedFruit      Canned Apricots    100g        48  202 kJ
2  CannedFruit  Canned Blackberries    100g        92  386 kJ
3  CannedFruit   Canned Blueberries    100g        88  370 kJ
4  CannedFruit      Canned Cherries    100g        54  227 kJ

In [10]:
# Extraerea numervärdet ur strängen och konvertera
# columnen till int istället för str
df["Calories"] = df["Calories"].str[:-3].astype(int)
df.head()

  FoodCategory             FoodItem percent  Calories      kj
0  CannedFruit           Applesauce    100g        62  260 kJ
1  CannedFruit      Canned Apricots    100g        48  202 kJ
2  CannedFruit  Canned Blackberries    100g        92  386 kJ
3  CannedFruit   Canned Blueberries    100g        88  370 kJ
4  CannedFruit      Canned Cherries    100g        54  227 kJ

In [12]:
df["percent"].value_counts()

percent
100g     1802
100ml     423
Name: count, dtype: int64

In [13]:
solids = df[df["percent"] == "100g"]
solids.head()
solids.shape

(1802, 5)

In [16]:
solids_sorted  = solids.sort_values(by="Calories", ascending=False)
solids_sorted.iloc[:5]

solids_sorted  = solids.sort_values(by="FoodItem", ascending=True)
solids_sorted.iloc[:5]

               FoodCategory      FoodItem percent  Calories       kj
915            Candy&Sweets  3 Musketeers    100g       400  1680 kJ
29                   Fruits          Acai    100g        70   294 kJ
83    Tropical&ExoticFruits       Acerola    100g        32   134 kJ
1707             Nuts&Seeds         Acorn    100g       387  1625 kJ
476                  Yogurt       Activia    100g        74   311 kJ