In [16]:
import numpy as np
import pandas as pd 

nrows, ncols = 1_000, 100
df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [ ]:
%timeit sum_plain = df1+df2+df3+df4
sum_plain = df1+df2+df3+df4

# Pandas eval is a lot faster than standard python code
# but it can't vary from computer to computer
%timeit sum_eval = pd.eval("df1+df2+df3+df4")
sum_eval = pd.eval("df1+df2+df3+df4")

1.37 ms ± 94.6 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)
2.49 ms ± 222 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
rolls = pd.DataFrame(np.random.randint(1,6,(6,3)), columns=["Die1", "Die2", "Die3"])
# Inplace is faster because it updates rather then creating a copy
rolls.eval("Sum = Die1 + Die2 + Die3", inplace=True)
rolls

   Die1  Die2  Die3  Sum
0     5     1     1    7
1     4     1     4    9
2     2     3     4    9
3     4     1     5   10
4     2     2     2    6
5     4     5     5   14

In [ ]:
high = 10
#rolls.eval("High <")

In [2]:
low = 10
small = rolls[rolls["Sum"] < low]
small

NameError: name 'rolls' is not defined

In [ ]:
# Does the same as the code in the cell above
# query is faster, but it can differ from computer to computer
# Rule of thumb, if its less then 100 operatins then it
# does't matter and you should use the one that is the 
# most clear. 
# Raphapel recomends the code from the cell abvoe 
# because its easier to read but if you want 
# better performance then use query
# You can basically do all operations like 
# filtering using query
# One drawback with query is that like eval, query 
# has some securtiy issues that comes with string evaluations
# Query works simmilar to eval, but there not exactly the same
# Query is alls harder to bugfix as ther just one long string
small_query = rolls.query("Sum < @low")

NameError: name 'rolls' is not defined

In [7]:
import pandas as pd
os = pd.read_csv("../../Project-OS//Data/athlete_events.csv")
os.info
#os= os.iloc[0:500]

<bound method DataFrame.info of             ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]>

In [ ]:
%timeit os[os["Season"] == "Winter"]
%timeit os.query("Season == 'Winter'")

plain os[os["Season"] == "Winter"]
query os.query("Season == 'Winter'")

# Deep comparison, you can't compare using ==
plain.equals(query)

In [9]:
# Sammansat Uttryck
%timeit os[(os["Sex"]=="F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
%timeit os.query("Sex == 'F' &  Height > 180 & NOC == 'SWE'") 

plain.equals(query)

26.2 ms ± 398 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)
15.6 ms ± 537 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

NameError: name 'plain' is not defined